.project-card {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  color: #eaeaea;
  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(255, 40, 40, 0.4);
}

.project-title {
  font-weight: 700;
  font-size: 1.3rem;
  color: #ff2a2a; /* dashboard red accent */
  margin-bottom: 10px;
}

.label {
  font-weight: 700;
  color: #ff2a2a;
}

.project-link {
    font-weight: 700;
    color: #eaeaea;
}
